.diagram-component {
  width: 100%;
  height: 100%; /* Ensure this fills the flex container */
  background-color: #fff;
}

.palette-component {
  width: 100%;
  height: calc(100% + 65px);
  background-color: #f5f5f5;
}
